<div id="modal" class="ui small modal">
  <div class="header">
    Connection
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div class="ui positive right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
